html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Variables */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;

  --logo-text-color: #000000;
  --hero-text-color: #ffffff;
  --white-text-color: #ffffff;
  --footer-text-color: #ffffff99;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
}

/* ----------------------------------------------------- */
/* Body */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
  border-color: transparent;
}

/* ----------------------------------------------------- */
/* Logo */
.logo {
  margin: 25px 0;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-header {
  color: var(--logo-text-color);
}

.logo-footer {
  color: var(--white-text-color);
}

/* Navigation */
.header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav,
.contacts {
  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-left: 0;

  /* delete */
  /* outline: 2px solid navy;
  background-color: coral; */
}

.contacts {
  display: flex;
  margin-left: auto;
}

.link-portfolio {
  color: var(--primary-text-color);
  text-decoration: none;
}

.item-nav:not(:first-child) {
  margin-left: 50px;
}

.link-nav {
  display: block;

  color: var(--primary-text-color);
  text-decoration: none;
}

.item-contacts:not(:first-child) {
  margin-left: 50px;
}

.link-contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus,
.link-contacts:hover,
.link-contacts:focus,
.link-footer:hover,
.link-footer:focus,
.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ----------------------------------------------------- */
/* Main. Hero */
.hero {
  text-align: center;

  background-color: var(--accent-background-color);
  color: var(--hero-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.text-hero {
  margin-bottom: 30px;
}

.button-hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: var(--accent-color);

  background-color: var(--accent-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* ----------------------------------------------------- */
/* Main. Section 1. Company features */
.feature-list,
.activity-list,
.team-list,
.sorting-list,
.portfolio-list {
  list-style: none;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.item-features {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  /* background-color: coral;
  margin-left: 0; */
}

.item-features:nth-child(4n) {
  margin-right: 0;
}

.subtitle-features {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-features {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/* ----------------------------------------------------- */
/* Main. Section 2. Company activity */
.title-activity,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* ----------------------------------------------------- */
/* Main. Section 3. Team */
.team {
  background-color: var(--secondary-background-color);
}

.subtitle-team,
.occupation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.occupation {
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* ----------------------------------------------------- */
/* Portfolio. Section 1. Sorting */
.sorting-button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

/* ----------------------------------------------------- */
/* Portfolio. Section 2. Work examples */
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* ----------------------------------------------------- */
/* Footer */
.footer {
  background-color: var(--accent-background-color);
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.link-footer {
  color: var(--footer-text-color);
  text-decoration: none;
}

.text-footer {
  color: var(--white-text-color);
}
